body {
    max-width: 900px;
    margin: 0 auto;
    background: rgb(199, 197, 197);
}

section {
    display: flex;
    margin: 150px auto;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 60px;
    margin: 0px;
}

h6 {
    margin: 0px 0px 20px 0px;
    color: brown;
}