html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #171d1c;
  max-width: 100%;
}
a {
  color: black;
  text-decoration: none;
  font-family: montserrat;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
}
input {
  outline: none;
  color: #5c5b5b;
}
header {
  overflow: hidden;
  position: relative;
  height: 70px;
  z-index: 1;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 100%;
  font-family: Montserrat;
}
header div {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.menu_left {
  margin: 0px 30px;
  display: flex;
}
.menu_left div {
  margin: 35px 0px;
}
.menu_left li {
  float: left;
}
.menu_left li a {
  margin: 30px 60px 0px 60px;
  padding-bottom: 17px;
  display: flex;
}
.menu_left li a:hover {
  color: #73b3da;
  border-bottom: 3px solid #73b3da;
}
.menu_right {
  margin: 0px 30px;
  display: flex;
}
.menu_right div {
  margin: 35px 0px;
}
.menu_right li {
  float: left;
}
.menu_right li a {
  margin: 30px 60px 0px 60px;
  padding-bottom: 17px;
  display: flex;
}
.menu_right li a:hover {
  color: #73b3da;
  border-bottom: 3px solid #73b3da;
}
.logo {
  padding-top: 17px;
}
.center_block_form {
  margin: auto;
  margin-top: -70px;
  max-width: 100%;
  background-image: url('../images/page_title/nastol.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.page_title_text_center {
  margin: 0;
  padding: 349px;
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-family: montserrat;
  display: block;
}
.search {
  position: relative;
  top: -80px;
  margin: 0 auto;
  height: 160px;
  max-width: 87%;
  background-color: #ffffff;
}
.search form {
  display: flex;
  justify-content: space-around;
  padding: 55px 0px;
}
.search form button {
  cursor: pointer;
  border-radius: 25px;
  background-color: #f31131;
  width: 45px;
  height: 45px;
}
.search form button:hover {
  background-color: #123456;
}
.search form select {
  border: none;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  font-size: 15pt;
}
.search form .line {
  border-bottom: 1px solid #ffffff;
  margin: 0px 5px;
}
.search form .arrow {
  width: 6px;
  height: 6px;
  padding: 1px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(45deg);
  margin: -5px 14px;
}
section {
  margin: 0px auto;
  margin-top: -160px;
  background-color: #ecf0f1;
  z-index: 1;
  max-width: 100%;
}
.separation {
  margin: 0 auto;
  margin-top: -6px;
  padding: 30px;
  width: 83px;
}
.romb_strong {
  float: left;
  margin: 2px 6px;
  padding: 2px;
  border: 1px solid #000000;
  transform: rotate(45deg);
  background-color: #171d1c;
}
.romb {
  float: left;
  margin: 3px 6px;
  padding: 1px;
  border: 1px solid #989c9d;
  transform: rotate(45deg);
}
h2 {
  text-align: center;
  padding-top: 100px;
  font-size: 46px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 16pt;
}
.ideas {
  margin: 0 auto;
  max-width: 1140px;
}
.ideas h2 {
  padding-top: 180px;
}
.container1 {
  display: flex;
  justify-content: space-between;
}
.box1_1 {
  margin: 0;
  width: 360px;
  height: 300px;
  background-image: url('../images/ideas/beachfront.jpg');
  background-size: cover;
}
.box1_2 {
  margin: 0;
  width: 360px;
  height: 300px;
  background-image: url('../images/ideas/beachfront.jpg');
  background-size: cover;
  background-image: url('../images/ideas/group.jpg');
}
.box1_3 {
  margin: 0;
  width: 360px;
  height: 300px;
  background-image: url('../images/ideas/beachfront.jpg');
  background-size: cover;
  background-image: url('../images/ideas/city.jpg');
}
div h3 {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 20px;
  margin: 3px 4px;
}
.beachfront {
  padding: 10px;
  margin: 180px 30px 30px;
  background-color: #ffffff;
}
.group {
  padding: 10px;
  margin: 180px 30px 30px;
  background-color: #ffffff;
}
.france {
  padding: 10px;
  margin: 180px 30px 30px;
  background-color: #ffffff;
}
.locations {
  margin: 0 auto;
  max-width: 1140px;
}
.different {
  margin: 0 auto;
  max-width: 1140px;
}
.container2 {
  display: flex;
  justify-content: space-between;
}
.container3 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.botton {
  margin-top: 20px;
}
.botton a {
  padding: 8px;
  border-radius: 30px;
  background-color: red;
  color: #ffffff;
}
.box2_1 {
  margin: 0;
  height: 300px;
  width: 555px;
  background-color: #ffffff;
  display: flex;
}
.box2_2 {
  margin: 0;
  height: 300px;
  width: 555px;
  background-color: #ffffff;
  display: flex;
}
.box3_1 {
  margin: 0;
  height: 300px;
  width: 555px;
  background-color: #ffffff;
  display: flex;
}
.box3_2 {
  margin: 0;
  height: 300px;
  width: 555px;
  background-color: #ffffff;
  display: flex;
}
.thalie_foto,
.montage_kapalua_foto,
.casa_del_agua_foto,
.casa_jaguar_foto {
  margin: 0;
  max-width: 279px;
  display: flex;
  flex-wrap: wrap;
}
.thalie_content,
.montage_kapalua_content,
.casa_del_agua_content,
.casa_jaguar__content {
  margin: 0;
  padding: 20px;
}
.p1_1 {
  width: 279px;
  background-image: url(../images/locations/p1_1.png);
  background-repeat: no-repeat;
  padding-bottom: 163px;
}
.p1_2 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
}
.p1_3 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
  background-image: url(../images/locations/p1_3.png);
}
.p1_4 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
  background-image: url(../images/locations/p1_4.png);
}
.p2_1 {
  width: 279px;
  background-image: url(../images/locations/p1_1.png);
  background-repeat: no-repeat;
  padding-bottom: 163px;
  background-image: url(../images/locations/p2_1.png);
}
.p2_2 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
  background-image: url(../images/locations/p2_2.png);
}
.p2_3 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
  background-image: url(../images/locations/p2_3.png);
}
.p2_4 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
  background-image: url(../images/locations/p2_4.png);
}
.p3_1 {
  width: 279px;
  background-image: url(../images/locations/p1_1.png);
  background-repeat: no-repeat;
  padding-bottom: 163px;
  background-image: url(../images/locations/p3_1.png);
}
.p3_2 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
  background-image: url(../images/locations/p3_2.png);
}
.p3_3 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
  background-image: url(../images/locations/p3_3.png);
}
.p3_4 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
  background-image: url(../images/locations/p3_4.png);
}
.p4_1 {
  width: 279px;
  background-image: url(../images/locations/p1_1.png);
  background-repeat: no-repeat;
  padding-bottom: 163px;
  background-image: url(../images/locations/p4_1.png);
}
.p4_2 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
  background-image: url(../images/locations/p4_2.png);
}
.p4_3 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
  background-image: url(../images/locations/p4_3.png);
}
.p4_4 {
  width: 93px;
  background-image: url(../images/locations/p1_2.png);
  background-repeat: no-repeat;
  background-image: url(../images/locations/p4_4.png);
}
.container4 {
  display: flex;
  justify-content: space-around;
}
.tailor_made_packages,
.best_expepience,
.exquisite_service {
  margin: 0 auto;
  max-width: 100%;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #0e9a52;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
.text {
  margin: 40px auto;
  text-align: center;
  max-width: 320px;
}
.message_background {
  overflow: hidden;
  background-image: url('../images/footer/palm.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.message {
  margin: 0 auto;
  max-width: 1178px;
}
.form {
  max-width: 390px;
  float: right;
  background-color: #ffffff;
  margin: 170px 84px 0px 0px;
  padding: 42px 46px 40px 45px;
}
.form input {
  border: none;
  border-bottom: 1px solid #9b9b9b;
  font-size: 12pt;
  width: 300px;
  padding: 8px 0px 8px 10px;
}
.send {
  font-size: 12pt;
  font-weight: lighter;
  margin-top: 110px;
  padding: 12px 30px;
  border-radius: 30px;
  background-color: red;
  color: #ffffff;
  cursor: pointer;
}
footer {
  margin: auto;
  font-size: 8pt;
  color: #ffffff;
  background-color: #171d1c;
  font-family: Open Sans;
}
.footer_content {
  margin: auto;
  max-width: 1140px;
  padding: 50px 178px 50px 110px;
  display: flex;
  justify-content: space-around;
}
.footer_content h5,
.footer_content p {
  padding: 4px;
}
h6 {
  font-size: 12pt;
}
.information,
.experiences,
.theme,
.popular_destinations {
  flex: 1;
}
.col {
  display: flex;
}
.contact {
  text-align: right;
  flex: 3;
}
@media screen and (max-width: 1100px) {
  .menu_left li a {
    margin: 30px 15px 0px 30px;
  }
  .menu_right li a {
    margin: 30px 15px 0px 30px;
  }
  .container1 {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box1_1 {
    margin: 5px;
  }
  .box1_3 {
    width: 725px;
  }
  .container2 {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box2_1 {
    margin: 5px;
    width: 700px;
  }
  .box2_2 {
    margin: 5px;
    width: 700px;
  }
  .box2_3 {
    margin: 5px;
    width: 700px;
  }
  .box3_1 {
    margin: 5px;
    width: 700px;
  }
  .box3_2 {
    margin: 5px;
    width: 700px;
  }
  .container3 {
    margin-top: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container4 {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .text {
    max-width: 700px;
  }
}
